#imagen
{
	margin-top: 350px;
	width: 168px;
	height: 136px;
	opacity: 1;
}


#nombrePrincipal
{
	margin-top: 19px;
  	font-size: 21px;
  	text-align: center;
}

#nombreRevisa
{
	margin: 0px;
	font-size: 15px;
  	font-family: 'Rubik Regular', sans-serif;
	letter-spacing: -0.07px;
	color: #1B1E24;
	opacity: 1;
}


@media only screen and (max-width: 768px) 
{
	#imagen
	{
		margin-top: 200px;
	}
}